{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
            <div class="containerBoxes rounded my-5">
                <div class="p-5">
                    <h3 class="section-heading text-center">
                        {# Parce que même quand on devrait détaler #}
                        Parce que même quand c'est la merde, <br>on peut toujours s'éclater
                    </h3>
                    <img class="intro-img img-fluid my-5 rounded" src="images/APOCALYPSE.jpg" alt="">
                    <p class="">Saviez-vous qu'Apocalypse signifie "Levée du voile"? Venez
                        oublier
                        vos petits tracas du quotidien,
                        levez le voile de votre ennui, retrouvez le vrai sens de la vie! <br>
                    </p>
                    <div class="row justify-content-center">
                        <a class="btn btn-primary mt-4" href="reservation">Rendez nous visite!</a>
                    </div>
                    
                </div>
            </div>
{% endblock %}