{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Au menu du jour' %}

{% block page_content %}

<a href="{{ path('home') }}" class="btn btn-warning">Retourner vers le site</a>

{% endblock %}
